.side-container {
  width: 100%;
  height: 100vh;
  position: absolute;

  .right-section {
    position: fixed;
    top: calc(50% - 37px);
    right: 0;
    transform: rotate(-90deg);
    z-index: 1;
    background-color: transparent;
  }
}