@font-face {
  font-family: 'DIN Condensed Bold';
  src: local('DIN Condensed Bold'), url('./../../assets/fonts/DINCondensed-Bold.ttf') format('woff');
}

body {
  margin: 0;
}

.text-uppercase {
  text-transform: uppercase;
}