@font-face {
  font-family: 'DIN Condensed Bold';
  src: local('DIN Condensed Bold'), url('./../../assets/fonts/DINCondensed-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  src: local('Gill Sans'), url('./../../assets/fonts/GillSans.ttc') format('woff');
}

body {
  margin: 0;
  color: #333;
}

.text-uppercase {
  text-transform: uppercase;
}

.col-12 {
  width: 100%;
}

.col-9 {
  width: 75%;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.display-flex {
  display: flex;
}