@import './../../global/styles/common.scss';

$root: '.community';

#{$root} {
  &-container {
    padding-top: 140px;
    padding: 5% 10% 10%;
  }

  &-description {
    height: 300px;
    background-color: #fff;
    font-family: 'DIN Condensed Bold', 'roboto', sans-serif;
    display: flex;
    justify-content: flex-end;

    &__container {
      height: 100%;
      padding: 10px 5px 0;
      
      .title {
        font-size: 60px;
        margin-bottom: -15px;
      }

      .details {
        margin-top: 30px;
        font-size: 20px;
        max-width: 70%;
      }
    }
  }

  &-food-section {
    &-1, &-2, &-3, &-2-about {
      height: 300px;
    }
    // food-section-1
    &-1 {
      margin-top: 80px;
      background-color: #fff;
      background-image:
      url('./../../assets/images/bg-detail.png'),
      url('./../../assets/images/detail01.png');
      background-repeat: no-repeat;
      background-position: bottom 5px left 46.5%, bottom 10px right 0;

      .sub-section {
        &-container {
          display: flex;
          height: 100%;
          width: 100%;
        }
      }
    }

    // food-section-2
    &-2 {
      background-color: #fff;
      background-image: url('./../../assets/images/detail03.png');
      background-repeat: no-repeat;
      background-position: bottom 5px left 15%;

      .sub-section {
        &-container {
          display: flex;
          height: 100%;
          width: 100%;
        }
      }
    }

    // food-section-2-about
    &-2-about {
      background-color: #fff;
      font-family: 'Gill Sans', 'roboto', sans-serif;
    }

    // food-section-3-about
    &-3-about {
      background-color: #fff;
      font-family: 'Gill Sans', 'roboto', sans-serif;
    }

    // food-section-3
    &-3 {
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: bottom 5px left 15%;

      .sub-section {
        &-container {
          display: flex;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}