@import './../../global/styles/common.scss';

$root: '.community';

#{$root} {
  &-container {
    background-color: red;
    padding-top: 140px;
    padding: 5% 10% 10%;
  }

  &-description {
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 40%;
    background-color: #fff;
    font-family: 'DIN Condensed Bold', 'roboto', sans-serif;

    &__container {
      height: 100%;
      float: right;
      padding: 10px 5px 0;
      
      .title {
        font-size: 60px;
        margin-bottom: -15px;
      }

      .details {
        margin-top: 30px;
        font-size: 20px;
        max-width: 70%;
      }
    }
  }

  &-food-section {
    &-1, &-2, &-3 {
      width: 100%;
      height: 300px;
    }
    &-1 {
      margin-top: 80px;
      background-color: #fff;
    }
    &-2 {
      background-color: #00f;
    }
    &-3 {
      background-color: #ff0;
    }
  }
}