.primary {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'DIN Condensed Bold', 'roboto', sans-serif;
  background-color: #fddbc6;
  font-size: 20px;
  padding: 7px 8px 0;
  margin-top: 5px;
}