.primary, .secondary {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'DIN Condensed Bold', 'roboto', sans-serif;
  margin-top: 5px;
  cursor: pointer;
}

.primary {
  border: none;
  background-color: #fddbc6;
  font-size: 20px;
  padding: 7px 8px 0;
}

.secondary {
  font-size: 18px;
  padding: 7px 15px 0;
  border: #fff;
}

.border {
  border: 2px solid #fddbc6;
}