.image-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 70%;
  width: 45%;
  margin: 5% 3%;
  border: 15px solid #fff;
  box-shadow: 5px 20px 15px 5px rgba(0, 0, 0, 0.12),
  5px 2px 5px 0 rgba(0, 0, 0, 0.08);
  position: relative;

  img {
    position: absolute;
    top: -15px;
    right: -15px;
  }
}